body {
  background: #252424;
}
.title {
  margin-bottom: 105px;
  font-weight: 400;
  font-size: 96px;
  color: #f0f0f0;
  padding-block: 16px;
  background: #777;
  text-align: center;
  @media (max-width: 998px) {
    font-size: 40px;
    margin-bottom: 97px;
  }
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.testimonials {
  margin-bottom: 243px;
}
.testimonials__post {
  transition: all 0.6s ease 0s;
  margin-inline: 10px;
  background: #d9d9d9;
  max-width: 468px;
  width: 100%;
  padding: 27px;
  border-radius: 20px;
}
.testimonials__post:hover {
  transform: scale(1.1);
}
.testimonials__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  @media (max-width: 998px) {
    gap: 16px;
  }
}


.cards__row {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
.cards__product {
 
  max-width: 401px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  
}

.cards__product-logo {
  max-width: 411px;
  width: 100%;
  height: 420px;
  @media(max-width: 998px) {
   height: 250px;
   max-width: 151px;
  }
  
}
.cards__product-title {
  max-width: 350px;
  min-height: 60px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  @media(max-width: 998px) {
    font-size: 18px;
  }
}
.cards__product-text {
  max-width: 300px;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  min-height: 300px;
  @media(max-width: 998px) {

  }
}
.cards__product-price {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  @media(max-width: 998px) {
   font-size: 14px;
  }
}
.cards__product-btn {
  font-weight: 400;
  font-size: 24px;
  color: #f0f0f0;
  background: #222;
  border-radius: 15px;
  padding: 12px 80px;
 @media(max-width: 998px) {
  font-size: 18px;
 }
}
